.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0rem 5rem;
  box-shadow: 10px 5px;
  background-color: rgb(160, 110, 46);
  border-radius: 5px;
}


.img{
width: 5rem;
height: 5rem;
margin-left: 2rem;
border-radius: 50%;
}

.log-btn{
  margin-right: 5rem;
}

